flickrTest/flickrTest.xcodeproj/project.xcworkspace/xcuserdata/shizo.xcuserdatad/UserInterfaceState.xcuserstate
flickrTest/flickrTest.xcodeproj/xcuserdata/shizo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
flickrTest/flickrTest.xcodeproj/xcuserdata/shizo.xcuserdatad/xcschemes/xcschememanagement.plist
flickrTest/flickrTest.xcworkspace/xcuserdata/shizo.xcuserdatad/UserInterfaceState.xcuserstate
flickrTest/flickrTest.xcworkspace/xcuserdata/shizo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
